.m-0 {
  margin: 0
}

.ml-5 {
  margin-left: 20px
}

.mr-5 {
  margin-right: 20px
}

.mb-1 {
  margin-bottom: 4px
}

.mb-0 {
  margin-bottom: 0
}

.flex {
  display: flex
}

.table {
  display: table
}

.h-2\.5 {
  height: 10px
}

.h-2 {
  height: 8px
}

.w-full {
  width: 100%
}

.w-auto {
  width: auto
}

.w-4\/6 {
  width: 66.666667%
}

.w-2\/6 {
  width: 33.333333%
}

.w-1\/2 {
  width: 50%
}

.w-1\/4 {
  width: 25%
}

.w-3 {
  width: 12px
}

.w-3\/4 {
  width: 75%
}

.table-fixed {
  table-layout: fixed
}

.border-collapse {
  border-collapse: collapse
}

.rounded {
  border-radius: 0.25rem
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px
}

.border-t-0 {
  border-top-width: 0px
}

.border-b-0 {
  border-bottom-width: 0px
}

.border-l {
  border-left-width: 1px
}

.border-r {
  border-right-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-solid {
  border-style: solid
}

.border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity))
}

.bg-cyan-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 78 99 / var(--tw-bg-opacity))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.from-sky-900 {
  --tw-gradient-from: #0c4a6e;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(12 74 110 / 0))
}

.via-cyan-700 {
  --tw-gradient-stops: var(--tw-gradient-from), #0e7490, var(--tw-gradient-to, rgb(14 116 144 / 0))
}

.via-sky-100 {
  --tw-gradient-stops: var(--tw-gradient-from), #e0f2fe, var(--tw-gradient-to, rgb(224 242 254 / 0))
}

.to-blue-300 {
  --tw-gradient-to: #93c5fd
}

.to-orange-500 {
  --tw-gradient-to: #f97316
}

.bg-auto {
  background-size: auto
}

.bg-right-bottom {
  background-position: right bottom
}

.bg-no-repeat {
  background-repeat: no-repeat
}

.p-0 {
  padding: 0
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px
}

.pl-3 {
  padding-left: 12px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.align-middle {
  vertical-align: middle
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-sm {
  font-size: 14px
}

.text-xs {
  font-size: 12px
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}
